*.PNG
*.png
*.pyc
*.pyo
*.mhd
*.pickle
*.dat
*.ev10
*.ev11
*.ev12
*.sato
*.txt
*.zraw
*.swp
*.o
*.cxx
*.hxx
Session.vim
dijkstra/gaussian_fit
dijkstra/treecompare
dijkstra/grid
dijkstra/grid_dbg
dijkstra/gg
L2_Wurzelsystem.doc
dijkstra/boost_1_45_0/*
data/*
presentation/.mk
